<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light navbar-custom sticky-top">
  <div class="container-fluid d-flex align-items-end">
    <a routerLink="/landingpage" class="navbar-brand"
      ><img src="assets/img/logo/logo.png" alt="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/landingpage">Training&Kurse</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/unternehmensberatung"
            >Unternehmensberatung</a
          >
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/recruiting">Recruiting</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/ueberuns">Über&nbsp;uns</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/standorte">Standorte</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
