<!-- Postcards -->
<div class="container-fluid">
  <div class="row postcards justify-content-center">
    <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets/img/pics/26582461-bild-von-brillen-und-finanzdokumente-am-arbeitsplatz-mit-geschaeftsmaenner-die-ideen-in-der-naehe.jpg"
          alt="Studenten_im_Klassenzimmer"
        />
        <div class="card-body">
          <p class="card-text text-justify">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore maga aliqua. Quis
            ipsum supendisse ultrices gravida. Risus commodo viverra maecenas
            accumsan lacus vel fascilisis.
          </p>
          <hr class="consulting" />
        </div>
        <div class="footer">
          <a href="#" class="btn btn-consulting">Consulting</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets/img/pics/54176810-geerntetes-bild-der-studenten-computer-in-einem-klassenzimmer.jpg"
          alt="Studenten_im_Klassenzimmer"
        />
        <div class="card-body">
          <p class="card-text text-justify">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore maga aliqua. Quis
            ipsum supendisse ultrices gravida. Risus commodo viverra maecenas
            accumsan lacus vel fascilisis.
          </p>
          <hr class="training" />
        </div>
        <div class="footer">
          <a href="#" class="btn btn-training">Training</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets/img/pics/53713561-human-resources-interview-recruitment-job-konzept.jpg"
          alt="Bild Interview"
        />
        <div class="card-body">
          <p class="card-text text-justify">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore maga aliqua. Quis
            ipsum supendisse ultrices gravida. Risus commodo viverra maecenas
            accumsan lacus vel fascilisis.
          </p>
          <hr class="karriere" />
        </div>
        <div class="footer">
          <a href="#" class="btn btn-karriere">Karriere</a>
        </div>
      </div>
    </div>
  </div>
</div>
